<h1>{{ title }}</h1>
<nav>
  <a routerLink="dashboard">Dashboard</a>
  <a routerLink="heroes">Heroes</a>
  <a routerLink="admin" routerLinkActive="active">Admin</a>
  <a routerLink="rxjs">RxJS</a>
  <a routerLink="posts">Posts</a>
  <a routerLink="users">Users</a>
  <a routerLink="form-example">Template Driven Form</a>
  <a routerLink="form-reactive">Reactive Form</a>
  <a routerLink="countdown-timer">Countdown timer</a>
  <a routerLink="countdown-time-vc">Countdown timer VC</a>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
