<div>
  <select
    (change)="onSelected($any($event.target).value)"
  >
    <option value="0">- User -</option>
    <option
      *ngFor="let user of users$ | async"
      [value]="user.id"
    >{{ user.name}}</option>
  </select>

  <table *ngIf="posts$ | async as posts">
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>UserId</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let post of posts"
        [ngClass]="{active: post?.id === (selectedPost$ | async)?.id }"
      >
        <td>
          {{ post.id }}
        </td>
        <td>
          {{ post.title }}
          <button
            type="button"
            (click)="onSelectedDetails(post.id)"
          >details</button>
        </td>
        <td>
          {{ post.userName }}
        </td>
      </tr>
    </tbody>
  </table>

  <app-post-detail></app-post-detail>
</div>
